.bg-promotion-banner {
    background-image: url('../../assets/images/banner-coljuegos.png');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.brand-width-slider{
    width: 150px;
    max-width: 150px;
}